<tr>
    <td>Blog info here</td>
    {{!-- <td id="c-id">{{id}}<t /d>
    <td id="c-fN">{{first_name}}</td>
    <td id="c-lN">{{last_name}}</td>
    <td id="c-email">{{email}}</td>
    <td id="c-phone">{{phone}}</td>
    <td id="c-billingAddress">{{address_billing}}</td>
    <td id="c-city">{{city}}</td>
    <td id="c-state">{{state}}</td>
    <td id="c-zip-code">{{zip_code}}</td>
    <td id="c-country">{{country}}</td>
    <td class="row-controls">
        <span class="table-remove">
            <button type="button" class="  btn btn-edit-row  btn-success line-coverage btn-rounded btn-md my-0" data-toggle="modal" data-target="#customers-edit-modal"><i
                    class="btn-edit-row L0 fas fa-edit"></i></button>
            <button type="button" class="  btn btn-delete-row  btn-danger btn-rounded btn-md my-0"><i
                    class="btn-delete-row L2 fas fa-times"></i></button>
        </span>
    </td> --}}
</tr>
