 <tr>
  <td class="pt-3-half p-id" contenteditable="true">{{id}}</td>
  <td class="pt-3-half p-name" contenteditable="true">{{name}}</td>
  <td class="pt-3-half p-price" contenteditable="true">{{price}}</td>
  <td class="pt-3-half p-msrp" contenteditable="true">{{msrp}}</td>
  <td class="pt-3-half p-model" contenteditable="true">{{model}}</td>
  <td class="pt-3-half p-image" contenteditable="true">
    <img id="img-buffer" class="img-fluid" width="80" height="80" src="{{image}}" alt="" />
  </td>
  <td class="pt-3-half p-description" contenteditable="true">{{description}}</td>
  <td class="pt-3-half p-stock" contenteditable="true">{{stock}}</td>
  <td class="pt-3-half p-brand" contenteditable="true">{{Brand.name}}  </td>
  <td class="pt-3-half p-category" contenteditable="true">{{Category.name}}</td>
  <td class="pt-3-half p-type" contenteditable="true">{{Product_type.name}}</td>
  <td>
  <span class="table-remove">
  <button type="button"
  class="  btn btn-save-row  btn-success line-coverage btn-rounded btn-md my-0"><i class="btn-save-row L0 fas fa-save"></i></button>
  <button type="button"
  class="  btn btn-delete-row  btn-danger btn-rounded btn-md my-0"><i class="btn-delete-row L2 fas fa-times"></i></button>
  </span>
  </td>
</tr>