<tr>
    <td id="py-id">{{id}}<t /d>
    <td id="py-orderId">{{OrderId}}</td>
    <td id="py-customer">{{Order.Customer.first_name}} {{Order.Customer.last_name}}</td>
    <td id="py-amount">{{amount}}</td>
    <td id="py-type">{{type}}</td>
    <td class="row-controls">
        <p class="text-danger">PAID</p>
    </td>
</tr>