<tr>
  <td class="pt-3-half p-id" contenteditable="false">{{id}}</td>
  <td class="pt-3-half p-name" contenteditable="false">{{name}}</td>
  <td class="pt-3-half p-price" contenteditable="false">{{price}}</td>
  <td class="pt-3-half p-msrp" contenteditable="false">{{msrp}}</td>
  <td class="pt-3-half p-model" contenteditable="false">{{model}}</td>
  <td class="pt-3-half p-product-image" contenteditable="false">
    <img id="img-buffer" class="img-fluid" width="80" height="80" src="{{image}}" alt="" />
  </td>
  <td class="pt-3-half p-description" contenteditable="false">{{description}}</td>
  <td class="pt-3-half p-stock" contenteditable="false">{{stock}}</td>
  <td class="pt-3-half p-brand" contenteditable="false">{{Brand.name}}  </td>
  <td class="pt-3-half p-category" contenteditable="false">{{Category.name}}</td>
  <td class="pt-3-half p-type" contenteditable="false">{{Product_type.name}}</td>
  
</tr>