<tr>
    <td id="c-id">{{id}}</td>
    <td id="c-title">{{title}}</td>
    <td id="c-author">{{author}}</td>
    <td id="c-description">{{description}}</td>
    <td id="c-createdAt">{{createdAt}}</td>
    <td class="row-controls">
        <span class="table-remove">
            <button type="button" class="  btn btn-edit-row  btn-success line-coverage btn-rounded btn-md my-0" data-toggle="modal" data-target="#blog-posts-edit-modal"><i
                    class="btn-edit-row L0 fas fa-edit"></i></button>
            <button type="button" class="  btn btn-delete-row  btn-danger btn-rounded btn-md my-0"><i
                    class="btn-delete-row L2 fas fa-times"></i></button>
        </span>
    </td>
</tr>
