<tr>
  <td id="o-number">{{id}}</td>
  <td id="o-customer">{{Customer.first_name}} {{Customer.last_name}}</td>
  <td id="o-total">{{total}}</td>
  <td id="o-comment">{{comment}}</td>
  <td id="o-created-at">{{createdAt}}</td>
  <td id="o-controls"><button type="button" class="btn btn-sm view-detail-btn btn-primary" data-toggle="modal" data-target="#order-detail-modal">view details</button></td>
    {{!-- <td class="row-controls">
        <span class="table-remove">
            <button type="button" class="  btn btn-edit-row  btn-success line-coverage btn-rounded btn-md my-0" data-toggle="modal" data-target="#orders-edit-modal"><i
                    class="btn-edit-row L0 fas fa-edit"></i></button>
            <button type="button" class="  btn btn-delete-row  btn-danger btn-rounded btn-md my-0"><i
                    class="btn-delete-row L2 fas fa-times"></i></button>
        </span>
    </td> --}}
</tr>
