<tr>
    <td id="py-id">{{id}}<t /d>
    <td id="py-orderId">{{OrderId}}</td>
    <td id="py-customer">{{Order.Customer.first_name}} {{Order.Customer.last_name}}</td>
    <td id="py-amount">{{amount}}</td>
    <td id="py-type">{{type}}</td>
    <td class="row-controls">
        <span class="table-remove">
            <button id="make-payment-btn" type="button" class="  btn btn-makePayment-row  btn-success btn-rounded btn-md my-0"><i
                    class="btn-makePayment-row L2 fas fa-hand-holding-usd"></i></button>
        </span>
    </td>
</tr>