<tr>
    <td id="cp-id">{{id}}<t /d>
    <td id="cp-fN">{{first_name}}</td>
    <td id="cp-lN">{{last_name}}</td>
    <td id="cp-email">{{email}}</td>
    <td id="cp-phone">{{phone}}</td>
    <td id="cp-billingAddress">{{address_billing}}</td>
    <td id="cp-city">{{city}}</td>
    <td id="cp-state">{{state}}</td>
    <td id="cp-zip-code">{{zip_code}}</td>
    <td id="cp-country">{{country}}</td>
</tr>
