 <tr>
  <td class="pt-3-half" id="e-id" contenteditable="true">{{id}}</td>
  <td class="pt-3-half" id="e-first_name" contenteditable="true">{{first_name}}</td>
  <td class="pt-3-half" id="e-last_name" contenteditable="true">{{last_name}}</td>
  <td class="pt-3-half" id="e-job_title" contenteditable="true">{{job_title}}</td>
  <td class="pt-3-half" id="e-email" contenteditable="true">{{email}}</td>
  <td class="pt-3-half" id="e-phone" contenteditable="true">{{phone}}</td>
  <td class="row-control">
    <span class="table-remove">
      <button type="button"class="  btn btn-edit-row  btn-success line-coverage btn-rounded btn-md my-0" data-toggle="modal" data-target="#employees-edit-modal">
        <i class="btn-edit-row L0 fas fa-edit"></i></button>
      <button type="button" class="  btn btn-delete-row  btn-danger btn-rounded btn-md my-0">
        <i class="btn-delete-row L2 fas fa-times"></i></button>
    </span>
  </td>
</tr>