{{> dashboard-sidebar}}

<!-- main content -->
<main >
    {{> dashboard-header}}

    <h5>View All Records</h5>
    <!-- row table -->
    <div class="row">
        {{!-- nav bar --}}
        <div class="col-lg-12 col-md-12 col-sm-6">
            <ul class="nav nav-tabs" id="products-nav" role="tablist">
                {{!-- products --}}
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Products</a>
                </li>
                {{!-- brands --}}
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="brands-tab" data-toggle="tab" href="#brands" role="tab" aria-controls="brands" aria-selected="false">Brands</a>
                </li>
                {{!-- categories --}}
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="category-tab" data-toggle="tab" href="#category" role="tab" aria-controls="catergory" aria-selected="false">Categories</a>
                </li>
                {{!-- product types --}}
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="product-type-tab" data-toggle="tab" href="#product-type" role="tab" aria-controls="product-type" aria-selected="false">Product Types</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        {{!-- tab-content --}}
        <div class="tab-content" id="myTabContent">
            {{!-- products table --}}
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <!-- col table -->
                <div class="col">
                    <!-- Editable table -->
                    <div class="card products-table">
                        <h3 class="card-header text-center font-weight-bold text-uppercase py-4">All Products</h3>
                        <div class="card-body">
                            <div id="products-table" class="table-editable">
                                <!-- Button trigger modal -->
                                <button type="button" class="float-right mb-3 btn btn-sm btn-success" data-toggle="modal" data-target="#products-modal">
                                <i class="btn-add-newproduct fas fa-plus fa-2x" aria-hidden="true"></i>
                                </button>
                                <table class="table table-bordered table-responsive-md table-striped text-center">
                                    <thead>
                                        <tr>
                                            <th class="text-center">ID</th>
                                            <th class="text-center">Name</th>
                                            <th class="text-center">Price</th>
                                            <th class="text-center">MSPR</th>
                                            <th class="text-center">Model</th>
                                            <th class="text-center">Image</th>
                                            <th class="text-center">Description</th>                                            
                                            <th class="text-center">Stock</th> 
                                            <th class="text-center">Brand</th>
                                            <th class="text-center">Category</th>
                                            <th class="text-center">Type</th>
                                            <th class="text-center"></th>
                                        </tr>
                                    </thead>

                                    {{!-- table body --}}
                                    <tbody>
                                        {{#each products}}                                            
                                            {{> dashboard-products}}                                         
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Brand --}}
            <div class="tab-pane fade" id="brands" role="tabpanel" aria-labelledby="brands-tab">
                <!-- col table -->
                <div class="col">
                    <!-- Editable table -->
                    <div class="card brands-table">
                        <h3 class="card-header text-center font-weight-bold text-uppercase py-4">All Brands</h3>
                        <div class="card-body">
                            <div id="brands-table" class="table-editable">
                                <!-- Button trigger modal -->
                                <button type="button" class="float-right mb-3 btn btn-sm btn-success" data-toggle="modal" data-target="#brands-modal">
                                <i class="btn-add-newbrand fas fa-plus fa-2x" aria-hidden="true"></i>
                                </button>
                                <table class="table table-bordered table-responsive-md table-striped text-center">
                                    <thead>
                                        <tr>
                                            <th class="text-center">ID</th>
                                            <th class="text-center">Name</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    {{!-- table body --}}
                                    <tbody>
                                        {{#each brands}}                                            
                                            {{> dashboard-brands}}                                         
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- category --}}
            <div class="tab-pane fade" id="category" role="tabpanel" aria-labelledby="category-tab">
                <!-- col table -->
                <div class="col">
                    <!-- Editable table -->
                    <div class="card category-table">
                        <h3 class="card-header text-center font-weight-bold text-uppercase py-4">All Categories</h3>
                        <div class="card-body">
                            <div id="category-table" class="table-editable">
                                <!-- Button trigger modal -->
                                <button type="button" class="float-right mb-3 btn btn-sm btn-success" data-toggle="modal" data-target="#categories-modal">
                                <i class="btn-add-newcategory fas fa-plus fa-2x" aria-hidden="true"></i>
                                </button>
                                <table class="table table-bordered table-responsive-md table-striped text-center">
                                    <thead>
                                        <tr>
                                            <th class="text-center">ID</th>
                                            <th class="text-center">Name</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    {{!-- table body --}}
                                    <tbody>
                                        {{#each categories}}                                            
                                            {{> dashboard-categories}}                                         
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- producty type --}}
            <div class="tab-pane fade" id="product-type" role="tabpanel" aria-labelledby="product-type-tab">
                <!-- col table -->
                <div class="col">
                    <!-- Editable table -->
                    <div class="card product-type-table">
                        <h3 class="card-header text-center font-weight-bold text-uppercase py-4">All Product Types</h3>
                        <div class="card-body">
                            <div id="product-type-table" class="table-editable">
                                <!-- Button trigger modal -->
                                <button type="button" class="float-right mb-3 btn btn-sm btn-success" data-toggle="modal" data-target="#product-types-modal">
                                <i class="btn-add-newproducttypes fas fa-plus fa-2x" aria-hidden="true"></i>
                                </button>
                                <table class="table table-bordered table-responsive-md table-striped text-center">
                                    <thead>
                                        <tr>
                                            <th class="text-center">ID</th>
                                            <th class="text-center">Name</th>
                                            <th class="text-center">Image</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    {{!-- table body --}}
                                    <tbody>
                                        {{#each products_type}}                                            
                                            {{> dashboard-products_type}}                                         
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- <!-- modal - create new products --> --}}
    <div class="modal modal-dialog-scrollable fade" id="products-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary" id="staticBackdropLabel">Add New Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    {{!-- <!-- form row --> --}}
                    <form action="#" class="p-2 row">
                       
                            <!-- col proudct image --> 
                            <div class="mb-4 col-sm-6">
                                <!-- image preview -->
                                <div id="image-preview-products" >
                                </div>
                                <!-- image upload -->
                                <div>
                                    <label class="d-block" for="image">Choose an images</label>
                                    <input class="from-control-file" type="file" id="image-input-products" name="image" accept=".jpg, .jpeg, .png">
                                 </div>
                            </div>

                            <!-- col - product name -->
                            <div class="col-sm-8 mb-4">
                                <label for="name">Product Name</label>
                                <input type="text" class="form-control" id="p-name" name="name" aria-describedby="productname">
                            </div>
                            
                            <!-- price , msrp -->
                            <div class="col-sm-8 d-flex mb-4 justify-content-between flex-wrap">
                                {{!-- price --}}
                                <div class="mb-2">
                                    <label class="d-block" for="brand">price: $</label>
                                    <input class="form-control" type="text" name="price" id="price">
                                </div>
                               {{!-- msrp --}}
                                <div class="mb-2">
                                    <label class="d-block" for="brand">msrp: $</label>
                                    <input class="form-control" type="text" name="msrp" id="msrp">
                                </div>

                                <!-- stock -->
                                <div class="mb-2">
                                    <label  for="stock">Stock: qty</label>
                                    <input class="form-control" type="text" name="stock" id="stock">
                                </div>
                            </div>

                            <!-- col - brand , category, producty type -->
                            <div class=" col-sm-8 d-flex justify-content-start mb-4 flex-wrap">
                                <div class="mb-2 mr-4">
                                    <label  for="brand">Brand</label>
                                    <select class="form-control" name="BrandId" id="brand">
                                        {{#each brands}}
                                            <option value="{{id}}">{{name}}</option>  
                                        {{/each}}
                                    </select>
                                </div>
                                <!-- category -->
                                <div class="mb-2">
                                    <label  for="category">Catergory</label>
                                    <select class="form-control"name="CategoryId" id="categoryId">                                        
                                        {{#each categories}}
                                            <option value="{{id}}">{{name}}</option>  
                                        {{/each}}
                                    </select>
                                </div>
                            </div>

                            <!-- model - producty type stock-->
                            <div class=" col-sm-8 d-flex justify-content-start mb-4 flex-wrap">
                                
                                <!-- model -->
                                <div class="mb-2 mr-4">
                                    <label  for="model">model</label>
                                    <input type="text" class="form-control" name="ModelID" id="model">
                                </div>

                                <!-- producty type -->
                                <div class="mb-2">
                                    <label  for="productTypeId">Product type</label>
                                    <select class="form-control"name="ProductTypeId" id="productTypeId">                                       
                                       {{#each products_type}}
                                            <option value="{{id}}">{{name}}</option>  
                                        {{/each}}
                                    </select>
                                </div>
                            </div>

                            <!-- product descirption -->
                            <div class="col-sm-10">
                                <label for="description">Product Description</label>
                                <textarea class="form-control" name="description" id="description" rows="3"></textarea>
                            </div>
                    </form>                    
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="add-new-product-btn" class="btn btn-primary">Add Product</button>
            </div>
            </div>
        </div>
    </div>

    {{!-- <!-- modal - create new brands --> --}}
    <div class="modal fade" id="brands-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="brandsmodal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add new Brand</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                 {{!-- container --}}
                 <div class="container-fluid">
                     <div class="row">
                         <div class="col-10">
                             <div class="form-group">
                                <label for="brand-name">Brand Name: </label>
                                <input type="text" class="form-control" name="brand-name" id="brand-name" aria-describedby="brandName">
                            </div>
                         </div>
                     </div>
                 </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="add-new-brand-btn" class="btn btn-primary">Add Brand</button>
            </div>
            </div>
        </div>
    </div>

    {{!-- <!-- modal - create new category --> --}}
    <div class="modal fade" id="categories-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="categoriesmodal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add new Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{!-- container --}}
                 <div class="container-fluid">
                     <div class="row">
                         <div class="col-10">
                             <div class="form-group">
                                <label for="category-name">Category Name: </label>
                                <input type="text" class="form-control" name="category-name" id="category-name" aria-describedby="categoryname">
                            </div>
                         </div>
                     </div>
                 </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="add-new-category-btn" class="btn btn-primary">Add Category</button>
            </div>
            </div>
        </div>
    </div>

    <!-- modal - create new product type --> 
    <div class="modal fade" id="product-types-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="producttypemodal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add new Product Type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{!-- container --}}
                 <div class="container-fluid">
                    <div class="row">
                        {{!-- form --}}
                        <form action="#" method="POST">
                            <!-- col proudct image --> 
                            <div class="mb-4 col-sm-6">
                                <!-- image preview -->
                                <div id="image-preview-product-type" >
                                </div>
                                <!-- image upload -->
                                <div>
                                    <label class="d-block" for="image-input-product-type">Choose an image</label>
                                    <input class="from-control-file" type="file" id="image-input-product-type" name="image-product-type" accept=".jpg, .jpeg, .png">
                                </div>
                            </div>

                            {{!-- product type name --}}
                            <div class="col-10">
                                <div class="form-group">
                                    <label for="product-type-name">Product Type Name: </label>
                                    <input type="text" class="form-control" name="product-type-name" id="product-type-name" aria-describedby="producttypename">
                                </div>
                            </div>
                        </form>
                    </div>
                 </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="add-new-product-type-btn" class="btn btn-primary">Add Product Type</button>
            </div>
            </div>
        </div>
    </div>

    <!-- modal - edit  product type --> 
    <div class="modal fade" id="edit-product-types-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="producttypemodal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add new Product Type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{!-- container --}}
                 <div class="container-fluid">
                    <div class="row">
                        {{!-- form --}}
                        <form action="#" method="POST">
                            <!-- col proudct image -->
                            <div class="mb-4 col-sm-6">
                                <!-- image preview -->
                                <div id="image-preview-edit-product-type" >
                                </div>
                                <!-- image upload -->
                                <div>
                                    <input type="text" id="id-input-edit-product-type" hidden>
                                    <label class="d-block" for="image-input-edit-product-type">Choose an image</label>
                                    <input class="from-control-file" type="file" id="image-input-edit-product-type" name="image-product-type" accept=".jpg, .jpeg, .png">
                                </div>
                            </div>
                            {{!-- product type name --}}
                            <div class="col-10">
                                <div class="form-group">
                                    <label for="name-input-edit-product-type">Product Type Name: </label>
                                    <input type="text" class="form-control" name="product-type-name" id="name-input-edit-product-type" aria-describedby="producttypename">
                                </div>
                            </div>
                        </form>
                    </div>
                 </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="edit-product-type-btn" class="btn btn-primary">Save Product Type</button>
            </div>
            </div>
        </div>
    </div>

    <!-- mdoal - edit product -->
    <div class="modal fade" id="edit-product-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="producttypemodal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edit Product Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{!-- container --}}
                 <div class="container-fluid">
                    <div class="row">
                        
                        <form action="#" class="p-2 row" id="edit-modal-product-form">
                            <!-- col proudct image --> 
                            <div class="mb-4 col-sm-6">
                                <!-- image preview -->
                                <div id="image-preview-edit-products" >
                                </div>
                                <!-- image upload -->
                                <div>
                                    <label class="d-block" for="image">Choose an images</label>
                                    <input class="from-control-file" type="file" id="image-input-edit-products" name="image" accept=".jpg, .jpeg, .png">
                                 </div>
                            </div>

                            <!-- col - product name -->
                            <div class="col-sm-8 mb-4">
                                <input type="text" name="id" val="" hidden>
                                <label for="name">Product Name</label>
                                <input type="text" class="form-control" id="ep-name" name="name" aria-describedby="ep-productname">
                            </div>
                            
                            <!-- price , msrp -->
                            <div class="col-sm-8 d-flex mb-4 justify-content-between flex-wrap">
                                {{!-- price --}}
                                <div class="mb-2">
                                    <label class="d-block" for="brand">price: $</label>
                                    <input class="form-control" type="text" name="price" id="ep-price">
                                </div>
                               {{!-- msrp --}}
                                <div class="mb-2">
                                    <label class="d-block" for="brand">msrp: $</label>
                                    <input class="form-control" type="text" name="msrp" id="ep-msrp">
                                </div>

                                <!-- stock -->
                                <div class="mb-2">
                                    <label  for="stock">Stock: qty</label>
                                    <input class="form-control" type="text" name="stock" id="ep-stock">
                                </div>
                            </div>

                            <!-- col - brand , category, producty type -->
                            <div class=" col-sm-8 d-flex justify-content-start mb-4 flex-wrap">
                                <div class="mb-2 mr-4">
                                    <label  for="brand">Brand</label>
                                    <select class="form-control" name="BrandId" id="ep-brand">
                                        {{#each brands}}
                                            <option value="{{id}}">{{name}}</option>  
                                        {{/each}}
                                    </select>
                                </div>
                                <!-- category -->
                                <div class="mb-2">
                                    <label  for="category">Catergory</label>
                                    <select class="form-control"name="CategoryId" id="ep-categoryId">                                        
                                        {{#each categories}}
                                            <option value="{{id}}">{{name}}</option>  
                                        {{/each}}
                                    </select>
                                </div>
                            </div>

                            <!-- model - producty type stock-->
                            <div class=" col-sm-8 d-flex justify-content-start mb-4 flex-wrap">
                                
                                <!-- model -->
                                <div class="mb-2 mr-4">
                                    <label  for="model">model</label>
                                    <input type="text" class="form-control" name="model" id="ep-model">
                                </div>

                                <!-- producty type -->
                                <div class="mb-2">
                                    <label  for="productTypeId">Product type</label>
                                    <select class="form-control" name="ProductTypeId" id="ep-productTypeId">                                       
                                       {{#each products_type}}
                                            <option value="{{id}}">{{name}}</option>  
                                        {{/each}}
                                    </select>
                                </div>
                            </div>

                            <!-- product descirption -->
                            <div class="col-sm-10">
                                <label for="description">Product Description</label>
                                <textarea class="form-control" name="description" id="ep-description" rows="3"></textarea>
                            </div>
                    </form> 

                    </div>
                 </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="edit-save-product-btn" class="btn btn-primary">Save Product Type</button>
            </div>
            </div>
        </div>
    </div>
</main>