{{> html-navbar}}

<!-- products catalog -->
<section class="container">
  <!-- row -->
  <div class="row">

    <!-- col controls -->
    <div class="col-sm-12 catalog-controls p-2 border my-2">
      <!-- row -->
      <div class="row no-gutters">
        <!-- filter button -->
      <div class="col-sm-3" id="filter-button">
        <span class="form-control btn border">Filter</span>
      </div>

      <!-- filter list control -->
      <div class="col-sm-9 d-flex justify-content-between m-2" id="filter-product-list">
        <!-- search product list -->
        <input type="text" class="form-control" placeholder="search" id="filter-product-list-item">
        <select class="btn" id="filter-product-list-price">
          <option value="3" selected>Price sort</option>
          <option value="1">Low to High</option>
          <option value="2">High to Low</option>
        </select>
      </div>
      </div>
    </div>

    <!-- col side bar -->
    <div class="sidebar-filter col-sm-3 border">
      <form id="catalog-filter" method="GET" action="#">
        <!-- availability -->
        <div class="my-4">
          <h5 class="clearfix pb-2 border-bottom">Availability<span class="float-right">{{products.length}}</span></h5>
          <p>
            <label class="d-block d-flex justify-content-between flex-nowrap" for="filter-availability">
              <span >In stock</span> 
              <input class="align-self-center" id="filter-availability" value="true" type="checkbox">
            </label>
          </p>
        </div>

        <!-- category -->
        <div class="my-4" id="filter-category">
          <h5 class=" pb-2 border-bottom">Category</h5>
          <p>
            {{#each categories}}
              <label class="d-block d-flex justify-content-between flex-nowrap" for="{{name}}">
              <span>{{name}}</span> 
              <input class="align-self-center" id="category-{{id}}" name="{{name}}" value="{{id}}" type="checkbox">
            </label>
            {{/each}}
          </p>
        </div>
        
        <!-- brand -->
        <div class="my-4" id="filter-brands">
          <h5 class=" pb-2 border-bottom">Brands</h5>
          <p>
            {{#each brands}}
              <label class="d-block d-flex justify-content-between flex-nowrap" for="brand-{{id}}">
                <span>{{name}}</span> 
                  <input class="align-self-center" id="brand-{{id}}" name="{{name}}" value="{{id}}" type="checkbox">
              </label>
            {{/each}}
          </p>
        </div>

        <!-- price -->
        <div class="my-4">
          <h5 class=" pb-2 border-bottom">Price</h5>
          <p>
            <label class="d-block d-flex justify-content-between flex-nowrap" for="price1">
              <span>under $100</span> 
              <input class="align-self-center" id="price1" name="filter-price" type="radio" value="100">
            </label>
            <label class="d-block d-flex justify-content-between flex-nowrap" for="price2">
              <span>under $200</span> 
              <input class="align-self-center" id="price2" name="filter-price" type="radio" value="200">
            </label>
            <label class="d-block d-flex justify-content-between flex-nowrap" for="price3">
              <span>under $300</span> 
              <input class="align-self-center" id="price3" name="filter-price" type="radio" value="300">
            </label>
            <label class="d-block d-flex justify-content-between flex-nowrap" for="price4">
              <span>under $400</span> 
              <input class="align-self-center" id="price4" name="filter-price" type="radio" value="400">
            </label>
            <label class="d-block d-flex justify-content-between flex-nowrap" for="price5">
              <span>under $500</span> 
              <input class="align-self-center" id="price5" name="filter-price" type="radio" value="500">
            </label>
            <label class="d-block d-flex justify-content-between flex-nowrap" for="price6">
              <span>500 and Above</span> 
              <input class="align-self-center" id="price6" name="filter-price" type="radio" value="600">
            </label>
          </p>
        </div>

        <!-- product type -->
        <div class="my-4" id="filter-product-type">
          <h5 class=" pb-2 border-bottom">Product Type</h5>
          <p>
            {{#each productType}}
              <label class="d-block d-flex justify-content-between flex-nowrap" for="product-{{id}}">
                <span>{{name}}</span> 
                <input class="align-self-center" id="product-{{id}}" value={{id}} type="checkbox">
              </label>
            {{/each}}
          </p>
        </div>
        
      </form>
    </div>

    <!-- col product list -->
    <div class="col-sm-9">
      
      <!-- row -->
      <div id="catalog-product-list"  class="row text-center text-lg-right">
        {{#each products}}
          <!-- card -->
          <div class="product-display-card col-lg-4 col-md-6 col-12 position-relative">
              <a href="/display?id={{id}}">
                <img class="product-thumbnail img-fluid" src="{{image}}" alt="{{name}} thumbnail" />
              </a>
              <p class="my-3 mx-3 text-left">
                <span class="d-flex justify-content-between no-wrap">
                  <span class="text-truncate border px-2 rounded ">${{price}}</span>
                  <span class="text-truncate">{{name}}</span>
                </span>
              </p>
          </div>
        {{/each}}
      </div>
      
    </div>

  </div>
</section>

{{> html-footer}}